body {
    text-align: center;
    background: rgba(255, 196, 0, 0.993)
}
.capa  {
    width:100%;
}
.beneficios {
        text-align: left;
        background-color: rgba(245, 169, 6, 0.986);
}
ul {
        display: inline-block;
        vertical-align: top;
        margin-right: 500px;
}
li {
        padding: 15px;
        font-size: 27px;
}
.imagem-beneficio {
        width: 40%;
    }